<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>
        #homework-container {
            height: 1000px;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="homework-container">
    {{> "./dnd-content.hbs"}}
</div>
</body>
</html>
